<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baseclass.Contrib.Nuget.Output" version="2.1.0" targetFramework="net45" />
  <package id="libsodium-net" version="0.8.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="NLog" version="4.2.3" targetFramework="net45" />
  <package id="NLog.Config" version="4.2.3" targetFramework="net45" />
  <package id="NLog.Schema" version="4.0.0" targetFramework="net45" />
  <package id="PaletteLogentriesCore" version="1.0.0.18" targetFramework="net45" />
  <package id="PaletteLogentriesNLog" version="1.0.0.17" targetFramework="net45" />
  <package id="Topshelf" version="3.3.1" targetFramework="net45" />
  <package id="Topshelf.NLog" version="3.3.1" targetFramework="net45" />
</packages>