.vs
/packages/
!packages/repositories.config

*/bin/**
*/obj/**
/test/**/bin/**
/test/**/obj/**

PalMonServiceInstallerBootstrapper/Installers/PalMon.msi
PalMonServiceInstallerBootstrapper/Installers/PalMonServiceInstallerDBInitializer.msi
PalMon.v12.suo

*.csproj.FileListAbsolute.txt

*.ncrunchsolution
*.ncrunchproject
