.vs
.vscode
/packages/
!packages/repositories.config

*/bin/**
*/obj/**
/test/**/bin/**
/test/**/obj/**

PaletteInsightAgentServiceInstallerBootstrapper/Installers/PaletteInsightAgent.msi
PaletteInsightAgentServiceInstallerBootstrapper/Installers/PaletteInsightAgentServiceInstallerDBInitializer.msi
PaletteInsightAgent.v12.suo

*.csproj.FileListAbsolute.txt

*.ncrunchsolution
*.ncrunchproject

.idea/