.vs
/packages/
!packages/repositories.config

*/bin/Debug/
*/bin/Release/
*/obj/Debug/
*/obj/Release/

PalMonServiceInstallerBootstrapper/Installers/PalMon.msi
PalMonServiceInstallerBootstrapper/Installers/PalMonServiceInstallerDBInitializer.msi
PalMon.v12.suo

*.csproj.FileListAbsolute.txt

BBR-ChargebackModel-CLI/bin/
BBR-ChargebackModel-CLI/obj/
*.ncrunchsolution
*.ncrunchproject

DataTableWriter.UnitTests/bin/
DataTableWriter.UnitTests/obj/


