<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="f1" xsi:type="File" fileName="Logs\PalMon.nlog.txt"
            layout="${date} [${threadid}] ${pad:padding=8:inner=${level:uppercase=true} ${logger}} - ${message}" />
    <!--<target name="n1" xsi:type="Network" address="tcp://localhost:4001"/>-->
    <target name="ds" xsi:type="OutputDebugString"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" maxlevel="Error" writeTo="f1,ds" />
  </rules>
</nlog>
