<?xml version="1.0"?>
<!-- PalMon user settings: set these as required -->
<PalMonConfig xmlns="PalMon">
  <!-- Output mode.  "DB" for database, "CSV" for flat-file export -->
  <OutputMode value="db"/>
  <!-- Polling rate, in seconds -->
  <PollInterval value="30"/>
  <!-- Polling rate of logs for filters, in seconds -->
  <LogPollInterval value="300"/>
  <!-- Polling rate of thread information, in seconds -->
  <ThreadInfoPollInterval value="15"/>
  <Processes>
    <Process name="vizqlserver"/>
  </Processes>
  <!-- Target cluster & host configuration -->
  <Clusters>
    <Cluster name="Primary">
      <Host name="localhost"/>
    </Cluster>
  </Clusters>
  <!-- Results output database Configuration-->
  <Database name="PalMon" type="Postgres">
    <Server host="localhost" port="5432"/>
    <User login="palmon" password="password"/>
    <Table name="countersamples"/>
  </Database>
  <!-- Config options for the log poller -->
  <Logs>
    <LogFolder Directory="c:\ProgramData\Tableau\Tableau Server\data\tabsvc\vizqlserver\Logs\" Filter="*.txt"/>
  </Logs>

  <!-- Configuration for the tableau repository -->
  <TableauRepo Host="localhost" Port="8060" Username="readonly" Password="onlyread" Db="workgroup"/>
</PalMonConfig>
