<?xml version="1.0" encoding="UTF-8"?>
<?define ApplicationName = "Palette Insight Agent"?>
<?define Manufacturer = "Palette Software"?>
<?define HelpLink = "http://www.palette-software.com"?>
<?define UrlInfoAbout = "http://www.palette-software.com"?>
<?define ProductUpgradeCode = "8c39f7f6-ad31-4efd-96ae-1f6f1a5e4f3a"?>
<?define IconFile = "..\PaletteInsightAgentService\Resources\palette_symbol.ico"?>
<?define BinFolder = "..\PaletteInsightAgentService\bin\Release"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" >
  <Product Id="*" Name="$(var.ApplicationName)" Language="1033" Codepage="1252" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.ProductUpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" Manufacturer="$(var.Manufacturer)" />
    <Media Id="1" Cabinet="PaletteInsightAgent.cab" EmbedCab="yes" />
    <UIRef Id="CustomInstallDir" />
    <Icon Id="ProductIcon" SourceFile="$(var.IconFile)" />
    
    <!-- Properties -->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
    <Property Id="ARPHELPLINK" Value="$(var.HelpLink)" />
    <Property Id="ARPURLINFOABOUT" Value="$(var.UrlInfoAbout)" />
    <Property Id="ARPNOREPAIR" Value="1" />
    <Property Id="INSTALLSHORTCUTS" Value="1" />
    
    <!-- Dependency management -->
    <PropertyRef Id="NETFRAMEWORK45" />
    <Condition Message="This application requires .NET Framework 4.5 or later. Please install the .NET Framework and then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

    <!-- Upgrade parameters -->
    <Upgrade Id="$(var.ProductUpgradeCode)">
      <UpgradeVersion Minimum="$(var.ProductVersion)" OnlyDetect="yes" Property="NEWERVERSIONDETECTED"/>
      <UpgradeVersion Minimum="0.0.0" Maximum="$(var.ProductVersion)" IncludeMinimum="yes" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED"/>
    </Upgrade>
    <Condition Message="A newer version of this software is already installed.">NOT NEWERVERSIONDETECTED</Condition>

    <!-- Main directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="$(var.ApplicationName)">
          <Directory Id="CONFIGFOLDER" Name="Config" />
          <Directory Id="RESOURCESFOLDER" Name="Resources" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ApplicationName)" />
      </Directory>
    </Directory>

    <!-- Main Application Folder -->
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="Executable" Guid="9fd4a8c4-6da6-49a8-91ab-e40db98efcde">
        <!-- Agent EXE and service config -->
        <File Id="PaletteInsightAgentExe" Name="PaletteInsightAgent.exe" DiskId="1" Vital="yes" Source="$(var.BinFolder)\PaletteInsightAgent.exe" />
        <!--<ServiceControl Id="StartAgentService" Start="install" Stop="both" Remove="uninstall" Name="PaletteInsightAgent" Wait="yes" />-->
        <File Id="AppConfig" Name="PaletteInsightAgent.exe.config" DiskId="1" Vital="yes" Source="$(var.BinFolder)\PaletteInsightAgent.exe.config" />
      </Component>
      
       <!-- Watchdog and Manager -->
      <Component Id="WatchdogAutoUpdater" Guid="593af868-d6da-43ec-b007-51ce1d68f7b1" Permanent="yes">
         <!-- Manager EXE --> 
        <File Id="PaletteManagerExe" Name="manager.exe" DiskId="1" Vital="yes" Source="$(var.BinFolder)\manager.exe" />
      
         <!-- Watchdog EXE and service config --> 
        <File Id='PaletteInsightWatchdogEXE' Name='PaletteInsightWatchdog.exe' DiskId='1' Source="$(var.BinFolder)\watchdog.exe" KeyPath='yes' />
        <ServiceControl Id="StartWatchdogService" Start="install" Stop="install" Remove="install" Name="PaletteInsightWatchdog" Wait="yes" />
        <ServiceConfig 
          Id="PaletteInsightWatchdogServiceConfig"
          ServiceName="PaletteInsightWatchdog"
          OnInstall="yes"
          OnReinstall="yes"
          DelayedAutoStart="yes"
          FailureActionsWhen="failedToStopOrReturnedError"          
          />
        <util:ServiceConfig
          ServiceName="PaletteInsightWatchdog"
          FirstFailureActionType="restart"
          SecondFailureActionType="restart"
          ThirdFailureActionType="restart"
          RestartServiceDelayInSeconds="10"
          ResetPeriodInDays="1"
          />
      </Component>
      <Component Id="PossibleLicenseFile" Guid="91736be3-5119-46d7-9bb8-ecb6659124fc" NeverOverwrite="yes">
        <CopyFile Id="PaletteLicense" DestinationDirectory="INSTALLFOLDER" SourceName="*.license" SourceProperty="SOURCEDIR" />
        <!--<CopyFile Id="ConfigFiles" DestinationDirectory="CONFIGFOLDER"  SourceName="*.yml" SourceProperty="SOURCEDIR" />-->
      </Component>
      <Component Id="Libraries" Guid="e73d533c-f440-4baf-b0ed-be1c6e329c79">
        <!-- Required Libraries -->
        <File Id="PaletteInsightAgentLibDLL" Name="PaletteInsightAgentLib.dll" DiskId="1" Vital="yes" Source="$(var.BinFolder)\PaletteInsightAgentLib.dll" />
        <File Id="CsvHelperDLL" Name="CsvHelper.dll" DiskId="1" Vital="yes" Source="$(var.BinFolder)\CsvHelper.dll" />
        <File Id="NLogDLL" Name="NLog.dll" DiskId="1" Vital="yes" Source="$(var.BinFolder)\NLog.dll" />
        <File Id="NLogXML" Name="NLog.xml" DiskId="1" Vital="yes" Source="$(var.BinFolder)\NLog.xml" />
        <File Id="PaletteAlertsCoreDLL" Name="PaletteAlertsCore.dll" DiskId="1" Vital="yes" Source="$(var.BinFolder)\PaletteAlertsCore.dll" />
        <File Id="PaletteAlertsNLogDLL" Name="PaletteAlertsNLog.dll" DiskId="1" Vital="yes" Source="$(var.BinFolder)\PaletteAlertsNLog.dll" />
        <File Id="NpgsqlDLL" Name="Npgsql.dll" DiskId="1" Vital="yes" Source="$(var.BinFolder)\Npgsql.dll" />
        <File Id="TopshelfDLL" Name="Topshelf.dll" DiskId="1" Vital="yes" Source="$(var.BinFolder)\Topshelf.dll" />
        <File Id="TopshelfNLogDLL" Name="Topshelf.NLog.dll" DiskId="1" Vital="yes" Source="$(var.BinFolder)\Topshelf.NLog.dll" />
        <File Id="SodiumNetDLL" Name="libsodium.dll" DiskId="1" Vital="yes" Source="$(var.BinFolder)\libsodium.dll" />
        <File Id="SodiumNet64DLL" Name="libsodium-64.dll" DiskId="1" Vital="yes" Source="$(var.BinFolder)\libsodium-64.dll" />
        <File Id="SodiumDLL" Name="Sodium.dll" DiskId="1" Vital="yes" Source="$(var.BinFolder)\Sodium.dll" />
        <File Id="LicensingDLL" Name="Licensing.dll" DiskId="1" Vital="yes" Source="$(var.BinFolder)\Licensing.dll" />
        <File Id="YamlDotNetDLL" Name="YamlDotNet.dll" DiskId="1" Vital="yes" Source="$(var.BinFolder)\YamlDotNet.dll" />
        <File Id="NodaTimeDLL" Name="NodaTime.dll" DiskId="1" Vital="yes" Source="$(var.BinFolder)\NodaTime.dll" />
      </Component>
      <Component Id="Utilities" Guid="93dd2c94-e909-4b30-a2ed-80e78d53ed5b">
        <!-- Helper Utilities -->
        <File Id="StartPaletteInsightAgentScript" Name="StartPaletteInsightAgentService.bat" DiskId="1" Vital="no" Source="$(var.BinFolder)\Util\StartPaletteInsightAgentService.bat" />
        <File Id="StopPaletteInsightAgentScript" Name="StopPaletteInsightAgentService.bat" DiskId="1" Vital="no" Source="$(var.BinFolder)\Util\StopPaletteInsightAgentService.bat" />
      </Component>
      <Component Id="LogConfig" Guid="220e0e2f-3d45-4ce6-8ddc-048b8b4c6d03" Permanent="yes" NeverOverwrite="yes">
        <!-- NLog configuration -->
        <File Id="NLogConfigForService" Name="NLog.config" DiskId="1" Vital="yes" Source="$(var.BinFolder)\NLog_forService.config" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <!-- Config Files -->
    <DirectoryRef Id="CONFIGFOLDER">
      <Component Id="CountersConfigComponent" Guid="ff8c7249-3eb4-4420-9f56-3ff662fe03b0" Permanent="yes"  NeverOverwrite="yes">
        <File Id="CountersConfig" Name="Counters.yml" DiskId="1" Vital="yes" Source="$(var.BinFolder)\Config\Counters.yml" KeyPath="yes" />
      </Component>
      <Component Id="PaletteInsightAgentConfigComponent" Guid="3af0ae94-bed1-4df2-b266-fec20977cd84" Permanent="yes"  NeverOverwrite="yes">
        <File Id="PaletteInsightAgentConfig" Name="Config.yml" DiskId="1" Vital="yes" Source="$(var.BinFolder)\Config\Config.yml" KeyPath="yes" />
      </Component>
      <Component Id="LogFolderConfigComponent" Guid="cae6c6c9-3b81-4ac1-9aa0-7c7f8c0e0207" Permanent="yes"  NeverOverwrite="yes">
        <File Id="LogFoldersYAML" Name="LogFolders.yml" DiskId="1" Vital="yes" Source="$(var.BinFolder)\Config\LogFolders.yml" KeyPath="yes" />
      </Component>
      <Component Id="ProcessesConfigComponent" Guid="24617bd5-e4b4-45a0-9e96-64150bc0e8f1" Permanent="yes"  NeverOverwrite="yes">
        <File Id="ProcessesYAML" Name="Processes.yml" DiskId="1" Vital="yes" Source="$(var.BinFolder)\Config\Processes.yml" KeyPath="yes" />
      </Component>
      <Component Id="RepositoryConfigComponent" Guid="21f282c4-0d38-435d-98f4-e354effc43ec" Permanent="yes"  NeverOverwrite="yes">
        <File Id="RepositoryYAML" Name="Repository.yml" DiskId="1" Vital="yes" Source="$(var.BinFolder)\Config\Repository.yml" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    
    <!-- Start Menu Shortcuts -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ProgramFilesShortcut" Guid="*">
        <Condition>(INSTALLSHORTCUTS = 1)</Condition>
        <Shortcut Id="StartApplicationStartMenuShortcut"
                  Name="Start $(var.ApplicationName)"
                  Description="Start Palette Insight Agent"
                  Target="[#StartPaletteInsightAgentScript]"
                  Icon="ProductIcon"
                  WorkingDirectory="INSTALLFOLDER"/>
        <Shortcut Id="StopApplicationStartMenuShortcut"
                  Name="Stop $(var.ApplicationName)"
                  Description="Stop Palette Insight Agent"
                  Target="[#StopPaletteInsightAgentScript]"
                  Icon="ProductIcon"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.ApplicationName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <!-- Feature Definitions -->
    <Feature Id='Complete' Title='$(var.ApplicationName)' Description='The complete package.' Display='expand' Level='1' ConfigurableDirectory='TARGETDIR'>
      <Feature Id='MainProgram' Title="$(var.ApplicationName)" Description='$(var.ApplicationName) main program.' Level='1'>
        <ComponentRef Id='Executable' />
        <ComponentRef Id='WatchdogAutoUpdater'/>
        <ComponentRef Id='Libraries' />
        <ComponentRef Id='LogConfig' />
        <ComponentRef Id='CountersConfigComponent' />
        <ComponentRef Id='PaletteInsightAgentConfigComponent' />
        <ComponentRef Id='LogFolderConfigComponent' />
        <ComponentRef Id='ProcessesConfigComponent' />
        <ComponentRef Id='RepositoryConfigComponent' />
        <ComponentRef Id='Utilities' />
        <ComponentRef Id='ProgramFilesShortcut' />
        <ComponentRef Id='PossibleLicenseFile' />
      </Feature>
    </Feature>

    <!-- Custom Actions -->
    <!-- Install/uninstall as a Windows service --> 
    <CustomAction Id="RunWatchdogServiceInstall" Directory="INSTALLFOLDER" Execute="deferred" Return="ignore" Impersonate="no" ExeCommand="[INSTALLFOLDER]PaletteInsightWatchdog.exe install"/>
    <CustomAction Id="RunWatchdogServiceUninstall" Directory="INSTALLFOLDER" Execute="deferred" Return="ignore" Impersonate="no" ExeCommand="[INSTALLFOLDER]PaletteInsightWatchdog.exe remove"/>
    <CustomAction Id="RunTopShelfServiceInstall" Directory="INSTALLFOLDER" Execute="deferred" Return="ignore" Impersonate="no" ExeCommand="[INSTALLFOLDER]PaletteInsightAgent.exe install"/>
    <CustomAction Id="RunTopShelfServiceUninstall" Directory="INSTALLFOLDER" Execute="deferred" Return="ignore" Impersonate="no" ExeCommand="[INSTALLFOLDER]PaletteInsightAgent.exe uninstall"/>

    <!-- Install Sequence --> 
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallValidate"/>
      <Custom Action="RunWatchdogServiceInstall" After="InstallFiles">NOT Installed</Custom>
      <Custom Action="RunTopShelfServiceInstall" After="InstallFiles">NOT Installed</Custom>
      <Custom Action="RunTopShelfServiceUninstall" After='InstallInitialize'>(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
      <Custom Action="RunWatchdogServiceUninstall" After='InstallInitialize'>(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>
