<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target name="nlog_txt_file"
            xsi:type="File"
            fileName="Logs\PalMon.nlog.txt"
            layout="${date} ${pad:padding=-5:inner=[${threadid}]} ${pad:padding=-8:inner=${level:uppercase=true}} ${logger}} - ${message}"
            archiveAboveSize="1000000"
            maxArchiveFiles="100"
            archiveNumbering="Rolling"
            archiveEvery="None" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="nlog_txt_file" />
  </rules>
</nlog>
