<?xml version="1.0" encoding="utf-8" ?>
<!-- This log config file is intended only for running PaletteInsightAgent as a Windows service.
     This configuration lacks the console output (target), since it seems that
     NLog must not write to console, when running as a service. But on the other
     hand it uses our online alerting system, so that we can monitor alerts from
     customers or from our staging environment easily. -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="PaletteAlertsNLog"/>
    <add assembly="SplunkNLog" />
  </extensions>
  <time type="FastUTC" />
  <targets async="true">
    <target name="nlog_txt_file"
            xsi:type="File"
            fileName="Logs\PaletteInsightAgent.nlog.txt"
            layout="${date} ${pad:padding=-5:inner=[${threadid}]} ${pad:padding=-8:inner=${level:uppercase=true}} ${logger} - ${message} ${exception:format=Message,StackTrace:innerFormat=Message,StackTrace}"
            archiveAboveSize="1000000"
            maxArchiveFiles="100"
            archiveNumbering="Rolling"
            archiveEvery="None" />

    <target name="palette_alerts"
            type="PaletteAlerts"
            token="<TOKEN>"
            layout="${date} [OW:${gdc:item=license_owner}] [MN:${machinename}] ${pad:padding=-5:inner=[${threadid}]} ${pad:padding=-8:inner=${level:uppercase=true}} ${logger} - ${message} ${exception:format=Message,StackTrace:innerFormat=Message,StackTrace}"
            debug="false"
            httpPut="false"
            ssl="true" />

    <target name="splunk"
          xsi:type="SplunkNLog"
          layout="${date} [OW:${gdc:item=license_owner}] [MN:${machinename}] ${pad:padding=-5:inner=[${threadid}]} ${pad:padding=-8:inner=${level:uppercase=true}} ${logger} - ${message} ${exception:format=Message,StackTrace:innerFormat=Message,StackTrace}"
          host="https://splunk-insight.palette-software.net"
          port="443"
          token="<TOKEN>"
          maxBatchSize ="100"
          maxPendingQueueSize="65000" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="nlog_txt_file" />
    <logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="palette_alerts, splunk" >
      <filters>
        <!-- Do not send log lines owned by Dev machines. This way no log line will appear
             from development machines. -->
        <whenEqual ignoreCase="False" layout="${gdc:item=license_owner}" action="Ignore" compareTo="Palette Insight Agent DEV"/>
      </filters>
    </logger>
  </rules>
</nlog>

