<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <time type="FastUTC" />
  <targets async="true">
    <extensions>
      <add assembly="SplunkNLog" />
    </extensions>
    <target name="nlog_txt_file"
            xsi:type="File"
            fileName="Logs\PaletteInsightAgent.nlog.txt"
            layout="${date} ${pad:padding=-5:inner=[${threadid}]} ${pad:padding=-8:inner=${level:uppercase=true}} ${logger} - ${message} ${exception:format=Message,StackTrace:innerFormat=Message,StackTrace}"
            archiveAboveSize="1000000"
            maxArchiveFiles="100"
            archiveNumbering="Rolling"
            archiveEvery="None" />

    <target name="colored_console"
            xsi:type="ColoredConsole"
            encoding="utf-8"
            layout="${date} ${pad:padding=-4:inner=[${threadid}]} ${pad:padding=-6:inner=${level:uppercase=true}} ${logger} - ${message} ${exception:format=Message,StackTrace:innerFormat=Message,StackTrace}"
            useDefaultRowHighlightingRules="true"
            errorStream="false" />

    <target name="splunk"
          xsi:type="SplunkNLog"
          layout="${date} [OW:${gdc:item=license_owner}] [MN:${machinename}] ${pad:padding=-5:inner=[${threadid}]} ${pad:padding=-8:inner=${level:uppercase=true}} ${logger} - ${message} ${exception:format=Message,StackTrace:innerFormat=Message,StackTrace}"
          host="<HOST>"
          port="443"
          token="<TOKEN>"
          maxBatchSize ="100"
          maxPendingQueueSize="65000" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="nlog_txt_file, colored_console, splunk" />
  </rules>
</nlog>
