<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" >
  <targets async="true">
    <extensions>
      <add assembly="SplunkNLog" />
    </extensions>
    <target name="nlog_txt_file"
            xsi:type="File"
            fileName="Logs\PaletteInsightAgent.nlog.txt"
            layout="${date} ${pad:padding=-5:inner=[${threadid}]} ${pad:padding=-8:inner=${level:uppercase=true}} ${logger} - ${message}"
            archiveAboveSize="1000000"
            maxArchiveFiles="100"
            archiveNumbering="Rolling"
            archiveEvery="None" />
    
    <target xsi:type="ColoredConsole"
            name="colored_console"
            encoding="utf-8"
            layout="${date} ${pad:padding=-4:inner=[${threadid}]} ${pad:padding=-6:inner=${level:uppercase=true}} ${logger} - ${message}"
            useDefaultRowHighlightingRules="true"
            errorStream="false" />

    <target xsi:type="SplunkNLog"
          name="splunk"
          host="http://52.91.25.176"
          port="4433"
          token="376C2EDF-8B36-4F62-9673-658235E25217" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="nlog_txt_file, colored_console, splunk" />
  </rules>
</nlog>
