<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baseclass.Contrib.Nuget.Output" version="2.1.0" targetFramework="net45" />
  <package id="CsvHelper" version="2.13.2.0" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Beans" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Charsets" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Corba" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Core" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Management" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Misc" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Naming" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Remoting" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Security" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.SwingAWT" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Text" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Util" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.XML.API" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.Runtime" version="7.2.4630.5" targetFramework="net45" />
  <package id="libsodium-net" version="0.8.0" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.1.0" targetFramework="net45" />
  <package id="NLog" version="4.2.3" targetFramework="net45" />
  <package id="Npgsql" version="3.0.5" targetFramework="net45" />
  <package id="PaletteAlertsCore" version="1.0.0.20" targetFramework="net45" />
  <package id="PaletteAlertsNLog" version="1.0.0.20" targetFramework="net45" />
  <package id="YamlDotNet" version="3.8.0" targetFramework="net45" />
</packages>
